@font-face {
  font-family: 'Archer';
        src: url('../fonts/ArcherPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ArcherPro-Bold.otf')  format('opentype'),
	    url('../fonts/ArcherPro-Bold.woff') format('woff'), 
        url('../fonts/ArcherPro-Bold.ttf')  format('truetype'), 
        url('../fonts/ArcherPro-Bold.svg#ArcherPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Archer';
        src: url('../fonts/ArcherPro-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/ArcherPro-Book.otf')  format('opentype'),
	    url('../fonts/ArcherPro-Book.woff') format('woff'), 
        url('../fonts/ArcherPro-Book.ttf')  format('truetype'), 
        url('../fonts/ArcherPro-Book.svg#ArcherPro-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
        src: url('../fonts/FuturaEU-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/FuturaEU-Bold.woff') format('woff'), 
        url('../fonts/FuturaEU-Bold.ttf')  format('truetype'), 
        url('../fonts/FuturaEU-Bold.svg#FuturaEU-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaEUNormal.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaEUNormal.woff') format('woff'), 
      url('../fonts/FuturaEUNormal.ttf')  format('truetype'), url('../fonts/FuturaEUNormal.svg#FuturaEUNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}
