/*========================================================
==================== CUSTOM VARIABLES ====================
========================================================*/

@header-height: 244px;
@header-padding-top: 85px;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-xlg:                  1601px;
@screen-xlg-min:              @screen-xlg;
//container width
// Small screen / tablet
//@container-tablet:             (720px + @grid-gutter-width);
//** For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            (940px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      (1140px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;

// Xtra Large screen / wide desktop 1920x1080   
@container-xlarge-desktop:      (1570px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-xlg:                 @container-xlarge-desktop;

//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     (@screen-sm-min + 1);
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);


@body-bg: @color-white;
@text-color: @text-color-dark;
@text-color-white: @color-white;
@text-color-green: #1b8895;
@text-color-gray: #9aa2a2;
@text-color-dark-gray: #7c8484;
@text-color-accent: @accent-color;
@text-color-dark: #0e4d58;
@text-color-footer: #bbc0c0;
@text-color-blue: #2c4566;

@nav-font-color: @text-color-white;
@navbar-toggle-font-size: 26px;
@color-bright-blue: #00c0c6;
@button-bg: @color-bright-blue;
@button-bg-darker: #1e7e8f;

@color-white: #f8f8f6;
@accent-color: #a10eb0;
@dark-green: #082c32;
@light-green: #00b6bc;
@color-green: #1b8895;
@light-gray: #e2e2db;
@color-gray: #c8c8c6;
@color-dark-gray: #939c9c;
@color-dirty-green: #657c17;

@link-color: @accent-color;

//== Typography
@font-family-sans-serif:  Futura, Helvetica, Arial, sans-serif;
@font-family-serif:       Archer, Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-base:        @font-family-sans-serif;

@font-size-base:          16px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            52px;
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            26px;
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px 

//border radius
@border-radius-base:        0;
@border-radius-large:       0;
@border-radius-small:       0;

// mixins for responsive breakpoints
.when-xs-only(@rules) { @media (max-width: @screen-xs-max) { @rules(); } }
.when-xs(@rules) { @media (min-width: @screen-xs-min) { @rules(); } }
.when-sm(@rules) { @media (min-width: @screen-sm-min) { @rules(); } }
.when-md(@rules) { @media (min-width: @screen-md-min) { @rules(); } }
.when-lg(@rules) { @media (min-width: @screen-lg-min) { @rules(); } }
.when-xlg(@rules) { @media (min-width: @screen-xlg-min) { @rules(); } }