/* 
* BOOTSTRAP COMPONENTS 
*/
@import "bootstrap-import.less";
/*
* FONTS
*/
@import "frontend-fonts.less"; 

/*
* PROJECT VARIABLES
*/
@import "frontend-variables.less";
/*========================================================
====================== CUSTOM STYLES =====================
========================================================*/
html{   
	font-size: 62.5%;
}
body{
	font-size: 1.6rem;
}

h2{
    font-size: 30px;
    font-weight: 400;
    color: @text-color-accent;
    font-family: @font-family-serif;
    text-align: center;
}
h4{
    color: @dark-green;
    font-family: @font-family-serif;
}
.container {
  .container-fixed();
  @media (min-width: @screen-xlg-min) {
    width: @container-xlg;
  }
}

.invisible{
    visibility: hidden;
}
.main-header {
    background: @dark-green;
    &.transparent-header{
        background: transparent;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 100;
    }
    .header-inner{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        height: @header-height / 2;
        .header-left, .header-right{
            .when-lg({
                display: block;
            });
            display: inline-block;
        }
        .when-lg({
            height: @header-height;
        });
        .header-left{
        }
        .header-center{
            flex-basis: 50%;
            .when-sm({
               flex-basis: auto; 
            });            
            .by-title{
                font-size: 31px;
                text-transform: uppercase;
                line-height: 1em;
                color: #fff;
                font-weight: 700;
                vertical-align: middle;    
                .when-sm({
                    padding-left: 50px;    
                });
                
            }            
        }
        .header-right{            
            float: none;
            flex-grow: 2;
            height: 41px;
            .when-lg({
                float: none;
            });           
        }
        
    }
}
    .navbar{
        display: table;
        margin: 0;
        float: right;
        .nav {
            &>li {
            float: left;
            text-transform: none;
            font-weight: normal;
            font-size: 12pt;            
                 &>a {
                     padding: 9px 12.5px;
                     color: @nav-font-color;
                    &:hover, &:active, &:visited{
                        background: transparent;
                        border-bottom: 6px solid @accent-color;
                    }
                }
            }
        }
        .navbar-toggle{
            cursor: pointer;
            color: #ffffff;
            background-color: @button-bg; 
            font-size: @navbar-toggle-font-size;
            border: none;
            padding: .3em .6em;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0px;
            float: right;         
              height: 41px;
              width: 41px;
              background-image: url('../img/burger.svg');
              background-repeat: no-repeat;
              background-size: 41px;
        }
        .navbar-collapse{
            padding: 0;
            .when-lg({
                padding: 0 15px;
            });
            @media (max-width: @screen-sm-min){
                display: none;
            }
        }
       &-default{
            background: transparent;
            border: none;
        } 
    }
      
.fullscreen-menu-wrapper {
    position: fixed;
    background: @dark-green;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
    display: none;
    
    .fullscreen-menu {
        margin: 0 auto;
        margin-top: 0px;
        display: table;
        
        .container {
            position: relative;
            top: 50vh;
            transform: translateY(-50%);    
        }
        .menu-close-btn {
            position: absolute;
            top: 5vh;
            right: 8vw;
            cursor: pointer;
            color: @button-bg;
              background-image: url('../img/zamknij.svg');
              background-repeat: no-repeat;
              background-size: 41px;
              width: 41px;
              height: 41px;  
        }
        ul {
            li{
                font-size: 8vw;
                font-weight: 300;
                text-align: center;
                a {                    
                    padding-bottom: 20px;
                    &:link, &:visited{
                        color: @text-color-white;
                    }
                    &:hover, &:active{
                        color: @text-color-white;
                        background: transparent;
                        border-bottom: 6px solid @accent-color;   
                        padding-bottom: 14px;
                    }
                }
            }
        }
    }
}
.logo-link img{
        max-width: 60vw;

}
.full-screen-height{
    min-height: 480px;
    height: 100vh;
    &>.row{
        height: 100%;
    }
}
#search-section{    
    min-height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;    
    .row, .entry-content{
        height: 100%;
    }
}
#main-form{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
    @media (max-height: 480px){
        top: 240px;
    }
    h1{
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 0;
        .when-sm({
            font-size: 7vw;    
            margin-bottom: 40px;
        });        
        .when-lg({
            font-size: 67px;
            letter-spacing: 1px;            
        });
    }
    h2{
        font-family: @font-family-serif;
        font-weight: 400;   
        font-size: 18px;
        color: white;
        .when-sm ({
            font-size: 24px;
        });
        .when-lg({
            font-size: 28px;            
        });       
    }    
    #main-search-form{
            margin-top: 1em;
            .when-sm({
                margin-top: 80px;    
            });     
        input{
            .when-sm({
                min-height: 40px;
            });
        }
        .dropdown-backdrop{
            position: absolute;
        }
        
    }
}
form { 
    .form-control{
        border: 0px;
        height: auto;
        &:focus{
            box-shadow: none;
        }
    }
    .input-group{
        display: inline-table;
        max-width: 100%;
        width: 100%;
        .when-xs({
            width: 350px;               
            margin-right: 10px;            
        });
        label {
            font-family: @font-family-serif;
            font-size: 16px;
            font-weight: 400;
            color: @text-color-green;
            text-align: left;            
            border: 0;
            line-height: 15px;
            min-height: 30px;
            padding: 10px 10% 0;            
            .when-lg({
                font-size: 18px;
                padding: 12px 10% 0;                            
            });
        }
        a.dropdown-toggle, &>input{
            padding: 0;
            border: 0;
            float: left;
            width: 100%;
            display: table-cell;
            position: relative;
            top: -1px;
        }
        input{
            width: 100%;            
            border: 2px solid #fff;
            padding: 0px 50px 0px 10%;
            font-size: 16px;
            color: @text-color-gray;
            height: 51px;
            .when-xs-only({
                padding: 15px 10%;
                font-size: 16px;
            });
            &:focus{
                outline: none;
            }
        }
        input~span{
            position: relative;
            left: -50px;
            top: -10px;
            z-index: 3;
        }
        .dropdown-menu{
            border: none;
            width: 100%;
            background-color: @dark-green;
            padding: 2em 10%;
            margin-top: 0;
            z-index: 9;
            box-shadow: none;
            height: 36vh;
            min-height: 230px;
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
            cursor: pointer;
            &>li>a{
                padding: .5em 0;
            }
            &>li>a, &>li>a:visited{
                color: @text-color-white;
            }
            &>li>a:hover, &>li>a:active, &>li>a:focus{
                color: @light-green;
                background: none;
            }
            &>li>a.level-two{
                margin-left: 1em;
            }
        } 
    }
    button.btn-primary{
        width: 350px;
        height: 50px;
        margin-left: 0;
        margin-top: 1em;        
        max-width: 100%;
        border: none;
        font-size: 26px;        
        background-color: @button-bg;
        &:hover{
            background-color: @color-green;
        }
        .when-sm({
            width: 235px;        
            height: 81px;            
        });
        @media (min-width: 1006px){
           margin-top: 0; 
        }
    }
    .message{
        display: block;
        width: 100%;
        max-width: 955px;
        margin: 1em auto;
        .when-sm({
           margin-top: 66px; 
        });
        p{
            text-align: left;            
            margin-bottom: .5em;
            .when-lg({
               font-size: 21px; 
            });
            a{
                color: @color-bright-blue;
                &:hover, &:active{
                    color: lighten(@color-bright-blue, 15%);
                }
            }
            
        }
    }
}

.icons-grid-icon{
    display: inline-block;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url('../img/icons-grid.png');
    background-repeat: no-repeat;
    background-size: auto;        
    &.chevron-up{
              background-position: 0 0;
    }
    &.chevron-down{
          background-position: 0 -21px;
    }
    &.chevron-up.icon-dark{
          background-position: 0 -42px;
    }    
    &.chevron-down.icon-dark{
          background-position: 0 -63px;
    }        
    &.icon-search{
        background-position: -20px -56px;        
        width: 22px;
        height: 22px;
    }
    &.icon-envelope{
        width: 23px;
        height: 21px;
        background-position: -20px -35px;
    }
}

#top9-section{
    h2{
        margin: 95px 0 41px;
    }
    .entry-content .row{
        margin-bottom: 80px;
        &:not(:last-child):after{
          content: "";
          width: 80%;
          height: 1px;
          margin: 0px auto;
          display: block;
          background: @light-gray;
          position: relative;
          top:  40px;            
        }
    }
    .doradca-single-item{
       a:hover, a:focus, a:active, a:visited{
            text-decoration: none !important;
        }
        
        .score{
            position: absolute;
            top: 0;
            right: 30px;
        }
    }
}
    .doradca-single-item, .blog-single-item{
        text-align: center;
        margin: 0 auto;
        .image{
            display: inline-block;
            width: 180px;
            height: 180px;
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: cover;
            overflow: hidden;
        }
        .border{
            display: block;
            margin: 0 auto;
            width: 215px;            
            height: 0;
            border-right: 10px solid transparent;
            border-top: 8px solid @accent-color;
            position: relative;
            top: -8px;
        }
        .name{
            font-size: 20px;
            color: @text-color-dark;
            @media (min-width: 995px) and (max-width: 1421px){
                height: 77px;
                display: table-cell;
                vertical-align: middle;
            }
        }  
        a:hover{
            color: @text-color-dark;
        }
        .tags{
            display: block;
            width: 100%;
            height: 125px;
            background: @text-color-green;
            ul{
                width: 100%;
                list-style-type: none;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                padding: 0 .5em;
                .when-xlg({
                    padding: 0 2em;
                });                
                li{
                    display: inline-block;
                    color: @text-color-white;
                    padding: 0 .4em;
                    font-family: @font-family-serif;
                    font-size: 14px;
                    line-height: 1em;
                    .when-md({
                        padding: 0 .1em; 
                    });
                    .when-lg({
                        padding: 0 .4em; 
                    });
                    .when-xlg({
                        font-size: 18px;
                    });
                    a{
                        color: @text-color-white;
                        font-family: @font-family-serif;                        
                    }
                }
            }
        }
        .score{
            font-size: 44px;
            font-family: @font-family-serif;
            color: @text-color-green;
            font-weight: 400;
            position: relative;
            .scale{
                font-size: 16px;
                font-weight: 400;
                font-family: @font-family-sans-serif;
                position: absolute;
                top: 10px;
            }
        }
    }
        .more-link{
            color: @accent-color;
            text-decoration: underline;
            margin-top: 20px;
            a{
                color: @accent-color;
                font-family: @font-family-sans-serif;
                &:hover, &:focus{
                    color: @text-color-green;
                }
            }
            
        }
footer{
    position: relative;
    background: @dark-green;
    padding-top: 72px;
    padding-bottom: 42px;
    min-height: 200px;
    font-size: 14px;
    .when-lg({
        font-size: 18px;
    });
    .container{
        .when-lg({
            width: 100%;
            padding: 0 5vw;            
        });
    }
    .col-md-3:first-of-type{
        @media (min-width: 1600px){
            padding-left: 8.33%;
        }
    }
    .col-md-3:last-of-type{
        .when-md({
            padding-left: 0;    
        });        
    }
    p, a, a:focus{
        color: @text-color-footer;
    }
    a:hover{
        color: @light-gray;
    }
    #address{
        text-align: center;
        .when-md({
           text-align: left; 
            margin-left: 45px;
        });
        &>a{
            padding-bottom: 1em;
            display: inline-block;
        }
    }
    .navbar{
        float: none;
        margin: 2em auto;
        .when-md({
            margin-top:0;
        });
        border: 0;
    }
    #footer-logo{
        float: none;
        display: block;
        margin: 0 auto;
        margin-top: 1em;
        .when-sm({
            float: right;    
        });
    }
    #footer-menu{        
        text-align: center;
        
        .when-xs-only({
            text-align: center;
        });       
        li{
            .when-xs-only({
                float: none;
            });
        }
        li > a{
            padding-top: 0;
            color: @color-white;
        }
    }
    #newsletter{

        .input-group{
            width: 100%;
            .when-lg({
               position: relative;
                top: -13px;
            });            
            .input-group-btn{
                position: static;
                .btn{
                    background-color: transparent;
                    color: @color-white;
                    font-size: 12pt;
                }
            }
            .input-group-addon{
                background-color: transparent;
                border: none;
                color: @color-white;
                font-size: 12pt;
            }
            input{
                background-color: transparent;
                border: 0;
                border-bottom: 2px solid @text-color-footer;
            }
            
        }
    }
    .newsletter-form-two{
        #newsletter{
            .input-group{
                display: flex;
                flex-flow: column;
                justify-content: center;
                max-width: 300px;
                margin: 2em auto 0;
                .when-md({
                   margin:9px 45px 0 0;
                });
                .icons-grid-icon{
                    margin: 2px 0;
                }
                .input-group-addon{
                    font-size: 20px;
                    padding-left: 0;
                    padding-right: 0;
                    .when-xlg({
                       font-size: 22px; 
                    });
                    width: auto;
                }
                input[type="text"]{
                    max-width: 300px;
                    align-self: center;
                    padding: 0 .3em;
                }
                .label-group{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                }                
            }
        }
    }
}
.popover{
  max-width: 90vw;  
  box-shadow: none;
  position: fixed !important;
  top: 5vh !important;
  left: 5vw !important;
  padding: 1em;
  border: 0;
  margin: 0;
  font-family: @font-family-serif;
  color: @text-color-white;
  background: @dark-green;
    .arrow{
        display: none;
    }
    .when-xs-only({
       font-size: 12px; 
    });
    .when-sm({
        padding: 3.5em 3em;   
        top: 30vh !important                
    });
    .when-md({
        top: 35vh !important;
        left: 25vw !important;
        width: 50vw;      
        font-size: 18px;
    });
    button.close{
        position: absolute;
        top: 1vh;
        right: 1vh;
        cursor: pointer;
        color: @button-bg;
        background-image: url('../img/zamknij.svg');
        background-repeat: no-repeat;
        background-size: 20px;
        width: 20px;
        height: 20px;
        .when-md({
            top: 2vh;
            right: 2vh;
            background-size: 30px;
            width: 30px;
            height: 30px;            
        });
    }
}
.entry-content{
    height: 100%;
}
.sidebar{
    background: @light-gray;
    padding: 5vh 15px;
    .when-md({
        position: absolute;
        right: 0;        
    });
    .search-form-one{
        text-align: center;
        .btn-primary, .input-group{
            height: 57px;
        }
    }
    .btn-primary, .input-group{
        width: 226px;        
        margin: 0 auto;
        font-size: 20px;        
    }
    .dropdown-menu{
        position: static;
        &>li{
            max-width: 160px;
        }
    }
    h2{
        font-size: 24px;
        color: @dark-green;        
        padding: 1em;
        margin: 1em auto;
        .when-md({
           margin: 56px auto; 
        });
    }
    .input-group, button.btn-primary{
        margin-bottom: 45px;
    }
    button.btn-primary:hover{
        background-color: @dark-green;
    }
    .input-group{        
        width: 100%;
        .when-sm({
           width: 90%;             
        });
    }
    .search-form-two{
        padding-top: 5vh;
        .when-md({
            padding-top: 3vh;    
        });
        
        text-align: center;
        .input-group{
            display: flex;
            left: 11px;
            input{
                height: 68px;    
                padding-left: 6%;
                &~a, &~span{
                    align-self: center;
                    position: relative;
                    left: -44px;
                }
            }            
        }
        .list{
            ul{
                list-style-type: none;
                text-align: left;
                padding-left: 0;
                max-width: 360px;
                margin: 0 auto;
                li{
                    padding: .5em 0 .5em 15%;
                    .when-sm({
                       padding: 1em 0 1em 20%; 
                    });
                    & > a{
                        color: @text-color-dark;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}
.distance-slider-group{
    input.amount{
        background: transparent;
        border: none;
        text-align: center; 
        color: @text-color-green;
        font-family: @font-family-serif;
        padding: 0;
    }
    .slider-label{
        font-family: @font-family-serif;
        color: @text-color-green;        
        margin-top: 1em;
    }
    .ui-widget.ui-widget-content{
        border: none;
        background: @dark-green;
    }
    .ui-corner-all{
        border-radius: 10px;
    }
    .ui-slider{
        .ui-slider-handle{
            width:30px;
            height: 30px;
            border-radius: 20px;
            border: none;
            background: @color-green;
            top: -7.5px;
        }
    }
}
.label-left{
    float: left;
    }
.label-right{
    float: right;
}
.btn-secondary{
    &:hover, &:focus, &.focus{
        color: @dark-green;
    }
    
}
button.btn-secondary{
    background: white;
    color: @text-color-gray;
    border: none;
}
#order-selector{
    margin-top: 40px;
    margin-bottom: 34px;    
    @media (min-width: 1080px){
        float: none;
        margin-left: 25%;
        padding-left: 55px;
    }
    @media (min-width: 1250px){
        margin-left: 0;
        padding-left: 0;
        margin-right: 60px;
        max-width: 1300px;
        float: right;        
    }
    form{
        text-align: center;
        .when-sm({
            text-align: none;
        });
    }
    h4{
        display: inline-block;
        margin-right: 2vw;
        @media (max-width: 1250px){
            display: block;
        }
    }
    button{
        width: 10vw;
        max-width: 246px;
        min-width: 135px;
        height: 46px;
        margin: 1em 15px 1em 0;
        line-height: 1em;            
        @media (min-width: 1700px){
            width: 256px;
            font-size: 21px;
            padding: 0px 23px 0px 32px;
            text-align: left;                                    
        }
    }
}
.color-gray{
    color: @color-gray;
}
.section .row{
    position: relative;
}
.search-results{
    .when-md({
        min-height: 700px;
    });
    .clearfix();
    h4{
        text-align: center;
        margin: 5vh 0;
    }  
    
    .doradca-single-item, .blog-single-item{
        .when-lg({
            margin-left: 1%;    
        });        
        &:after{
          content: "";
          width: 95%;
          height: 1.3px;
          margin: 0px auto;
          display: block;
          background: @light-gray;            
        }
        margin: 46px 0;
        .score{
            left: -5%;
        }
        .name > h1{
            font-size: 26px;
            text-align: left;
            padding-left: 40px;
            margin-top: 0;
            margin-bottom: 46px;
            a, a:visited, a:active{
                color: @dark-green;
            }
        }
        .description{
            
            margin-bottom: 40px;
            margin-top: 40px;
            .when-lg({
               margin-top: 0; 
            });
            text-align: left;
            color: @color-dark-gray;
            .when-sm({
                padding-left: 40px;  
            });
            .when-xlg({
               font-size: 22px; 
               padding-right: 10%;
            }); 
        }
        .tags{
            background: transparent;            
            height: auto;
            margin: 1em 0;
            ul {
                text-align: left;
                transform: none;
                max-width: 690px;
                padding-right: 0;
                padding-left: 0;
                .when-sm({
                    padding-left: 34px;
                });                             
                li{
                    padding: .4em;
                }
            }
            ul li, ul li a{
                color: @light-green;
                font-size: 21px;
            }
        }
        .detailed-score{
            color: @accent-color;
            margin: 30px 0;
            ul{
                list-style: none;
                text-align: left;
                padding-left: 0;
                .when-sm({
                   padding-left: 40px; 
                });
            }
            .fa{
                margin-right: 3px;
            }
            .score-label{
                font-size: 18px;
            }
            .score-stars{
                display: inline-block;
                text-align: left;
                margin-right: 15px;
                margin-bottom: 1em;
            }
            .rating-value{
                font-size: 26px;
                font-family: @font-family-serif;
                border: none;
                background: transparent;
                width: 2em; 
                margin-left: 16px;
            }
        }
        .opinions{
            color: @color-dirty-green;
            ul{
                list-style: none;
                text-align: left;
                padding-left: 0;
                .when-sm({
                   padding-left: 40px; 
                });
                li{
                    font-size: 18px;
                    display: table-row;
                    span{
                        display: table-cell;
                        vertical-align: middle;
                    }
                    span:last-child{
                        padding-left: 1em;
                    }
                }
            }
        }
        .contact-me{
            text-align: left;
            padding-left: 0;
            .when-sm({
               padding-left: 40px; 
            });
            .btn{
                text-align: center;
                width: 226px;
                padding: 16px;
                margin: 10px 5px 46px 0;
                font-size: 18px;
                color: @color-white;
                &.recomend-me{
                    margin-right: 0;
                }
                &.write-me{
                    background-color: @button-bg;
                }
                &.call-me{
                    background-color: @button-bg-darker;
                }
                &.recomend-me{
                    background-color: @accent-color;
                }
                &:hover{
                    background-color: @dark-green;
                }
            }
            .dropdown{
                ul{
                    width: 100%;
                    box-shadow: none;
                    border: none;
                    li{
                        text-align: center;
                        padding: .5em 0;
                        a{
                            color: @accent-color;
                            &:hover, &:active{
                                background-color: transparent;
                                color: @color-dark-gray;
                            }
                        }
                    }
                }
            }
        }
        .opinions-bar{
            margin: 1em 0;
            padding-left: 0;
            .when-sm({
               padding-left: 40px; 
            });
            .bar{
                display: block;
                width: 100%;
                max-width: 466px;
                height: 40px;
                text-align: left;
                word-spacing: -5px;
                .positive, .negative{
                    width: 50%;
                    background-color: @color-dirty-green;
                    color: @text-color-white;
                    font-family: @font-family-serif;
                    font-size: 30px;
                    display: inline-block;
                    height: 100%;
                    text-align: center;
                    line-height: 1em;
                }
                .negative{
                    background-color: #b1b1ac;
                }
            }
        }
    }
}
.big-number{
    font-size: 45px;
    font-family: @font-family-serif;
}            
#page-nav{
    display: table;
    width: 100%;
    margin: 2em auto;
    .when-xs-only({
        margin: 0 auto;
    });
    &:before{
        content: "";
        display: block;
        width: 100%;
        clear: both;
    }
    @media (min-width: @screen-lg-min){
        width: 100%;
        padding: 0 5vw;
        margin: 46px auto;
    }
    .goto-top{
        float: left;
        padding: 4px 0;
        a{
            color: @color-gray;
        }
        .icons-grid-icon{
            position: relative;
            top: 5px;
            margin-right: 1em;
        }
        .when-xs-only({
            float: none;
            text-align: center;            
        });
    }
    .pagination{
        float: right;
        margin: 0;
        & > li > a{
            background: transparent;
            border: none;
            color: @color-gray;
            .when-xs-only({
                padding-left: 5px;
                padding-right: 5px;
            });
        }
        & > li.active > a{
                color: @color-dark-gray;
        }
        & > li:first-of-type > a, & > li:last-of-type > a{
            color: @button-bg-darker;
        } 
        .when-xs-only({
            float: none;
            display: table;
            margin: .5em auto;
        });
    }
}
#single-details{
    margin-top: 120px;
    margin-bottom: 80px;
    .doradca-single-item:after{
        display: none;
    }
    .comments{
        margin-top: 100px;
        font-family: @font-family-serif;
        text-align: left;
        padding-left: 0;
        .when-sm({
           padding-left: 40px; 
        });
        .comment{
            margin: 25px 0 50px;
            .name{
                font-size: 24px;
            }
            .date{
                font-weight: 800;
                font-size: 18px;
            }
            .text{
                font-size: 21px;
                margin: 36px 0;
                color: @color-dark-gray;
            }
            .score{
                color: @button-bg-darker;
                ul{
                    list-style: none;
                    padding-left: 10px;
                    .when-sm({
                       padding-left: 40px; 
                    });
                    li{
                        display: inline-block;
                        font-size: 18px;
                        margin-right: 60px;
                        &.score-label{
                            font-family: @font-family-sans-serif;
                        }
                        span{
                            display: block;
                        }
                    }                    
                }
            }            
        }
        .add-a-comment{
                margin-top: 30px;
                font-family: @font-family-sans-serif;
                .when-sm({
                    padding-right: 10%;    
                });
                .input-group{
                    width: 100%;
                }
                label{
                    font-size: 26px;
                    font-family: @font-family-sans-serif;
                    margin: 32px 0;
                    padding: 0;
                }
                textarea{
                    width: 100%;
                    height: 15em;
                }
                input{
                    border: none;
                    padding: 6px 12px;
                    color: #555;
                }
                button{
                    font-size: 18px;
                    height: 60px;
                    width: 135px;
                    float: right;
                    margin: 20px 0;
                    background-color: @button-bg-darker;
                }
                .detailed-score {
                    margin-top: 0;
                    ul{
                        padding-left: 0;                                        
                    }
                }
        }
    }
            .description~.blog-entries{
                .when-lg({
                    margin-top: 8.5vh;
                })
            } 
}
.no-sidebar .simple-page{
    max-width: 777px;
    margin: 50px auto 230px;
    .when-md({
        margin-top: 150px;   
    });
}
.simple-page{
    h1{
        font-size: 24px;
        margin: 1em 0;
        text-align: center;
        .when-sm({
           text-align: left; 
        });
    }
    h2{
        color: @color-bright-blue;
        margin: 2em 0;
        text-align: left;
    }
    p, ul, ol{
        color: @text-color-dark-gray;
        font-size: 18px;
        font-family: @font-family-serif;
        line-height: 1.5em;
    }
    h3{
        color: @color-dirty-green;
        font-family: @font-family-serif;
        margin: 2.5em 0;
        &:first-of-type{
            margin-top: 80px;
        }
    }
    .numbers{
            display: table;
            .big-number{
                display: table-cell;
            }
            .number-text{
                font-size: 18px;
                font-family: @font-family-sans-serif;
                padding-right: 55px;
                padding-left: 16px;
                display: table-cell;
                vertical-align: middle;
            }

        }        
}
.page-form{
    margin: 80px 0;
    .form-group{
        margin-bottom: 25px;
    }
    label{
        font-weight: 400;
        color: @text-color-blue;
        padding: 8px;
        padding-left: 15px;
        .when-sm({
           padding-left: 8px; 
        });
        &.alert-negative{
            color: @accent-color;
        }        
    }
    input, textarea{
        background-color: #e5e5df;
        border: none;
        box-shadow: none;
        font-family: @font-family-serif;
        color: @text-color-blue;
        padding: 8px 12px;
    }
    button.btn-primary{
        height: 60px;
        width: 116px;
        font-size: 18px;
        display: block;
        margin: 0 auto 48px;
        .when-md({
            float: right;
        });
    }
    .row:last-child .col-xs-9{
        padding: 0;
    }
}
#login-section{
    background-color: @dark-green;
}
.login-rejected{
    .message{
        display: block;
    }
    label{
        color: @accent-color !important;
    }
}
.sidebar-buttons{
    padding-top: 34px;
    .when-lg({
        margin-top: 134px;    
        
    });    
    text-align: center;
    .btn{
        display: block;
        max-width: 100%;
        
        overflow: hidden;
        width: 75%;
        line-height: 1em;
        padding: 30px 3%;
        font-size: 18px;
        .when-lg({
            font-size: 24px;
            min-width: 260px;
        });
        margin-bottom: 26px;
        background-color: @accent-color;
        border: 0;
        white-space: normal;
        &:hover, &:active, &.current{
            background-color: @button-bg-darker;
        }
    }
}
.attr-edit{
    margin-bottom: 132px;
    text-align: left;
    .when-md({
       padding-left: 40px; 
    });
    textarea{
        font-size: 21px;
        padding: 1.5em;
        font-family: @font-family-serif;
    }
    .btn{
        width: 136px;
        height: auto;
        line-height: 47px;
        font-size: 21px;
        display: block;
        .when-sm({
            margin-left: 0;            
            margin-right: 18px;
            display: inline-block;
        });
        margin: 18px auto;
    }
    h3{
        font-size: 21px;
        margin-top: 0;
        margin-bottom: 50px;
    }
    .tag-list{                
        max-width: 650px;
        margin: 0;
        .when-md({
           margin: 20px 0; 
        });
        .entry-content:nth-of-type(odd){
            .when-lg({
                padding-left: 0; 
            });
        }
        .btn-group{
            width: 100%;
            max-width: 450px;
            margin: 10px 0;
            .when-md({
                padding-right: 60px;    
                margin: 0;
            });            
            label{
                font-size: 20px;
                font-family: @font-family-serif;
                font-weight: 400;
                color: @color-bright-blue;
                max-width: 80%;
            }
            input[type="checkbox"]{
                display: inline-block;
                width: 21px;
                height: 21px;
                float: right;
                opacity: 0;
                z-index: 1;
                & + label:after{
                    content: "";
                    display: inline-block;
                    width: 21px;
                    height: 21px;
                    border-radius: 50%;
                    background-color: @color-gray;
                    position: absolute;
                    z-index: -2;
                    .when-md({
                        right: 60px;                          
                    });
                    right: 0px;  
                    top: 0;
                }
                &:checked + label:before{
                    content: "";
                    display: inline-block;
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    background-color: @color-bright-blue; 
                    position: absolute;
                    z-index: -1;
                    .when-md({
                       right: 66px;                       
                    });
                    right: 6px;
                    top:6px;
                }
            }
        }
    }
    &.comments#edit-comments{
        margin-top: 0;
        .comment{
            .name{
                font-size: 19px;
            }
            .btn{
                width: 135px;
                height: 58px;
                &[aria-expanded="true"]{
                    display: none;
                }
            }
        }
    }
}
.btn.btn-accent{
    background-color: @accent-color;
}
.btn{
    border: 0;
    background-color: @button-bg;
    &:hover, &:active, &:focus{
        background-color: @button-bg-darker;
    }
    &:visited{
        background-color: inherit;
    }
}
.form-white{
    margin-top: 10px;
    .when-lg({
        padding-right: 6.5vw;    
    });    
    label{
        float: left;
        padding-left: 0;
        color: @text-color-dark;
        font-size: 22px;
    }
    textarea, input{
        background-color: #fff;
    }
    button{
        background-color: @button-bg-darker !important;
    }
    button:hover{
        background-color: @accent-color !important;
    }
}
.col-xl-3{
    .when-xlg({
       width: 25%; 
    });
}
form{
    .alert-negative{
        color: @accent-color;
    }
    input.alert-negative{
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:    @accent-color;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color:    @accent-color;
           opacity:  1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
           color:    @accent-color;
           opacity:  1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
           color:    @accent-color;
        }
    }
}
.modal{
    .modal-dialog{
        width: 100%;
        height: 100%;
    }
    &#add-entry-modal{
        .modal-content{
            width: 95vw;
            padding: 5vh 15px 0;
            .when-sm({
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);                                
            });
            .when-md({
                width: 66vw;
                padding: 120px 80px 20px;
                top: 50%;
                transform: translate(-50%, -50%);                
            });
            
            background-color: @light-gray;
        }
    }
    form{        
        .input-group{
            width: 100%;
            display: flex;
            align-items: baseline;
            flex-flow: column;
            .when-md({
               flex-flow: row; 
            });
            margin-bottom: 45px;
            label{
                padding: 0;
                flex: 0 1 25%;
                font-family: @font-family-sans-serif;
                color: @text-color;
                font-size: 2.2rem;
                &.btn-default{
                    width: 200px;
                    height: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    color: @text-color-green;
                    &:hover{
                        background-color: @accent-color;
                        color: white;                        
                    }
                }
            }
            &.submit-group{
                display: flex;
                justify-content: center;
                align-items: center;
                .when-md({
                    justify-content: flex-end;    
                });
                
                .btn{
                    width: 225px;
                    height: 76px;                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2.2rem;
                    margin-left: 0;
                    margin-bottom: 15px;
                    .when-md({
                        margin-left: 30px;    
                    });                    
                    &.btn-secondary{
                        color: @accent-color;
                        border: 2px solid @accent-color;
                        background-color: white;
                    }                 
                        &:hover{
                            color: white;
                            background-color: @accent-color;                            
                        }                    
                    &.btn-primary{
                        color: white;
                        border: 2px solid @accent-color;
                        background-color: @accent-color;
                        &:hover{
                            color: @accent-color;
                            background-color: white;                            
                        }
                    }
                }
            }
        }        
        input, textarea{
            background-color: white;
            border: 0;
            padding: .7em 5%;
            height: auto;
            color: @text-color-dark-gray;
            font-size: 2.2rem;
            flex: 0 1 78%;            
            &.form-control{
                box-shadow: none;
            }
        }
    }
}
.blog-single-item{
    .entry-content{
        padding-top: 20px;
        .when-md({
            padding-top: 0;
        })
    }
    .entry-meta{        
        .when-sm({
            padding-left: 40px;  
        });
        text-align: left;
    }
    
    .single-entry-title{
        font-size: 2.4rem;
        line-height: 1.3em;
        text-align: left;
        max-width: 640px;
        margin-bottom: 32px;
        margin-top: .5em;
        .when-sm({
            padding-left: 40px;  
        });
        
    }
    .single-entry-content{
        text-align: justify;
        margin-bottom: 40px;
        margin-top: 40px;
            .when-lg({
               
            });
            text-align: left;
            color: @color-dark-gray;
            .when-sm({
                padding-left: 40px;  
            });
            .when-xlg({
               font-size: 22px; 
               padding-right: 10%;
            });   
        p{
            margin-bottom: 1em;
            max-width: 640px;
            text-align: justify;
        }
    }
    .single-entry-image{
        .when-sm({
            padding-left: 40px;  
        });
        text-align: left;
        img{
            margin: 16px 0;
        }
        .caption{
            font-size: 1.4rem;
        }
    }    
    .comments{
        margin-top: 40px !important;
        .comment{
            .text{
                p{
                    max-width: 500px;
                }
            }
        }
    }
    &:after{
        display: none !important;
    }
    .social-share{
        padding: 30px 0;
        ul{
            list-style: none;
            text-align: left;
            li{
                display: inline-block;
                padding-right: 10px;
                a{
                    color: @text-color;
                    &:hover{
                        color: @accent-color;
                    }
                }
                i{
                    font-size: 24px;
                }
            }
        }
    }
}
.blog{
    #single-details{
        .when-md({
           min-height: 1024px; 
        });
    }
    .with-cat-title{
        margin-top: 60px;
        & > .row{
            .when-lg({margin-left: 1%;});
        }
        .cat-title{
            h2{
                font-size: 2.4rem;
                color: @text-color; 
                text-align: left;
                width: 215px;
                margin: 3vh 0 3vh 15px;                
                .when-sm({
                    margin: 3vh 0 3vh 55px;                  
                });                
                .when-md({
                    margin: 3vh auto;                    
                });
                
                
            }
        }
    }      
    .add-a-comment{
        padding: 0 15px;
        .when-lg({
            margin-left: 3%;    
        });
        form{  
            padding-left: 0; 
            .when-sm({
               padding-left: 40px; 
            });
            .when-md({
               padding-left: 0;  
            });
            .input-group{
                width: 100%;
                display: flex;
                align-items: baseline;
                flex-flow: column;
                .when-md({
                   flex-flow: row; 
                });
                margin-bottom: 45px;
                label{
                    padding: 0;
                    flex: 0 1 25%;
                    font-family: @font-family-sans-serif;
                    color: @text-color;
                    font-size: 2.2rem;
                    text-align: right;
                    padding-right: 46px;
                    &.btn-default{
                        width: 200px;
                        height: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: white;
                        color: @text-color-green;
                        &:hover{
                            background-color: @accent-color;
                            color: white;                        
                        }
                    }
                }
                &.submit-group{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 72px;
                    flex-flow: column;
                    width: 75%;
                    margin-left: auto;
                    margin-right: auto;
                    .when-sm({
                       flex-flow: row;                         
                    });
                    .when-lg({
                        padding-left: 5%;
                    });
                    .btn{
                        width: 225px;
                        height: 76px;                    
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 2.2rem;
                        margin-right: 0;
                        margin-bottom: 15px;
                        .when-sm({
                            margin-right: 30px;    
                        });                    
                        &.btn-secondary{
                            color: @accent-color;
                            border: 2px solid @accent-color;
                            background-color: white;
                        }                 
                            &:hover{
                                color: white;
                                background-color: @accent-color;                            
                            }                    
                        &.btn-primary{
                            color: white;
                            border: 2px solid @accent-color;
                            background-color: @accent-color;
                            &:hover{
                                color: @accent-color;
                                background-color: white;                            
                            }
                        }
                    }
                }
               &.checkbox-group{
                    flex-flow: row nowrap;
                }
            }        
            input, textarea{
                background-color: white;
                border: 0;
                padding: .7em 3%;
                height: auto;
                color: @text-color-dark-gray;
                font-size: 2.2rem;
                flex: 0 1 75%;   
                max-width: 650px;
                &.form-control{
                    box-shadow: none;
                }
            }
            input[type="checkbox"]{
                flex-basis: 30px;
                .when-md({
                    margin-left: 25%;
                });
                & ~ p{
                    padding-left: 2em;
                    max-width: 650px;
                }
            }
            
        }        
    }
        .more-link{
                            text-decoration: none;                
            a{
                color: @text-color;
            }
        } 
    .blog-entries{
        margin-top: 60px;
        margin-bottom: 40px;
        .when-sm({
            padding-left: 40px; 
        });
        text-align: left;
        display: flex;
        flex-flow: column;
        h2, h4, h4 > a{
            font-size: 20px;
            color: @text-color-dark;
            text-align: left;
        }
        h2{
            padding-left: 0;
            .when-sm({
            });
            
            font-weight: 700;
        }
        h4{
            margin: 6vh 0 16px;
        }
        .entry-author{
            margin: 28px 0;
            a{
                color: @text-color;
                &:hover{
                    color: @accent-color;
                }
            }
        }
        .blog-entry{
            p{
                color: @text-color-gray;
                text-align: justify;
                .when-lg({
                   max-width: 360px; 
                });
            }
        }
        .entry-content{
            padding-left: 0;  
            padding-right: 0;        
            .when-sm({
                padding-right: @grid-gutter-width/2;
            });
            &:nth-of-type(2n){
                .when-md({
                    padding-left: @grid-gutter-width/2;
                    padding-right: 0;
                });
            }
        }        
        .pagination{
            ul{
                list-style: none;
                padding-left: 0;

                li{
                    display: inline-block;
                        font-size: 18px;
                        color: @text-color-dark;
                        padding: 0 .2em 0 0;
                    & > a{
                        color: @text-color-dark;
                    }
                }
            }
        }
        
    }    
}
#blog-home{
    &.with-cat-title{
        & > .row:first-of-type{
            margin-left: 56px;
        }
    }
    .blog-single-item{
        .inner-row{
            & > h1, & > div, .social-share > ul, .pagination > ul{
                padding-left: 0;
            }
        }
        .single-entry-content{
            p{
                max-width:  850px;
            }
        }
        .social-share{
            margin: 60px 0 0;
        }
    }
    .blog-entries{
        margin-top: 0;
        h2{
            padding-left: 0;
        }
        h4{
            .when-md({
                min-height: 104px;
            });        
        }
    }
    .entry-title, .single-entry-title{
        a{
            font-family: @font-family-sans-serif;
            font-size: 2.4rem;
        }
    }
    .single-entry-title{
        padding-left: 0;
        max-width: 360px;
    }
}
#more-blog-entries{
    &.blog-entries{
        .when-lg({
            margin-top: 150px;    
        });
    }
    h4{
        .when-sm({
           min-height: 130px; 
        });
        .when-md({
            min-height: 108px; 
        });
    }
    .group-names{
        .group-name{
            font-family: @font-family-serif;
            font-size: 2.6rem;
            a{
                color: @text-color;
                text-decoration: none;
                &:hover{
                    border-bottom: 3px solid @accent-color;
                }
            }
            &.selected{
                a{
                    border-bottom: 3px solid @accent-color;
                }
            }
        }
    }
    .pagination{
        margin-top: 60px;
    }
}